<h1>¡Bienvenido al CoderChat comunitario!</h1>




<script src="/socket.io/socket.io.js"></script><!-- Incorporamos Socket.IO - la capacidad de establecer conexiones con socket -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script><!-- Agregamos las funcionalidades de sweetalert2 en nuestra página web  -->

<script src="/js/index.js"></script>

